<h1>Bonjour, </h1>

<p>Une demande de re initialisation de mot de passe a ete demande.
Si vous etes a l'origine de cette demande, suivez le lien ci-dessous.
Sinon, vous pouvez ignorez ce mail.</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>A bientot</p>
