<!DOCTYPE html>

<title>New Memory</title>

{% block body %}
    <h1>Create new Memory</h1>

    {{ include('memory/_form.html.twig') }}

    <a href="{{ path('app_memory_index') }}">back to list</a>
{% endblock %}
