<form method="post" action="{{ path('app_place_delete', {'id': place.id}) }}" onsubmit="return confirm('{{ 'deletion_confirmation'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ place.id) }}">
    <button class="btn">{{ 'button.delete'|trans }}</button>
</form>
