{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mb-5 mx-3">{{ 'place.title.edit'|trans }}</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {# {% if is_mobile %}
                    {{ include('back/place/_form.html.twig', {'button_label': ' '|trans}) }}
                    {% else %} #}
                    {{ include('back/place/_form.html.twig', {'button_label': 'button.update'|trans}) }}
                    {# {% endif %} #}
                    <div class="col-1">
                        {{ include('back/place/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
