<!DOCTYPE html>

<title>Nouveau lieu</title>

{% block body %}
    <h1>Créer un nouveau lieu</h1>

    {{ include('location/_form.html.twig') }}

    <a href="{{ path('app_location_index') }}">retour à la liste</a>
{% endblock %}
