{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mx-3 mb-5">{{ 'memory.title.new'|trans }}</h1>
    <div class="container">
		<div class="row">
			<div class="col">
                {{ include('back/memory/_form.html.twig') }}
            </div>
	    </div>  
	</div> 
{% endblock %}
