{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Créer un nouveau souvenir</h1>

    {{ include('back/memory/_form.html.twig') }}

    <a href="{{ path('app_memory_index') }}">retour à la liste</a>
{% endblock %}
