<!DOCTYPE html>

<title>Modifier une localité</title>

{% block body %}
    <h1>Modifier une localité</h1>

    {{ include('back/location/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_location_index') }}">retour à la liste</a>

    {{ include('back/location/_delete_form.html.twig') }}
{% endblock %}
