{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Créer une nouvelle localité</h1>

    {{ include('back/location/_form.html.twig') }}

    <a href="{{ path('app_location_index') }}">retour à la liste</a>
{% endblock %}
