<!DOCTYPE html>

<title>Nouvel endroit</title>

{% block body %}
    <h1>Créer un nouvel endroit</h1>

    {{ include('place/_form.html.twig') }}

    <a href="{{ path('app_place_index') }}">retour à la liste</a>
{% endblock %}
