{% extends 'base.html.twig' %}

{% block body %}
<div class="my-5 py-5 text-center">
    <h1>Page introuvable</h1>

    <p>La page que vous demandee n'existe pas</p>

<div class="d-flex justify-content-center">
    <a  class="btn btn-lg btn-primary mt-5" href="{{ path('app_main') }}">Retour a la page d'accueil</a>.
</div>
</div>
{% endblock %}