{% extends 'base.html.twig' %}

{% block title %}Page non trouvee{% endblock %}

{% block body %}

<h1>Page non trouvee</h1>
<p>La page que vous cherchez n'existe pas</p>
<a href="{{ path('app_main')}}">Retour a l'accueil</a>
{% endblock %}