{% extends 'base.html.twig' %}

{% block body %}
<div class="my-5 py-5 text-center">
<h1>{{ 'unauthorized_access.forbidden'|trans }}</h1>
<p>{{ 'unauthorized_access.page'|trans }}</p>
<div class="d-flex justify-content-center">
<div class="tenor-gif-embed" data-postid="25238180" data-share-method="host" data-aspect-ratio="1.77778" data-width="49%"><a href="https://tenor.com/view/youre-not-coming-in-benjamin-engvid-halt-stop-right-there-gif-25238180">Youre Not Coming In Benjamin GIF</a>from <a href="https://tenor.com/search/youre+not+coming+in-gifs">Youre Not Coming In GIFs</a></div>
</div>
<a class="btn btn-lg btn-secondary mt-5" href="{{ path('app_logout')}}">{{ 'button.logout'|trans }}</a>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
{% endblock %}