{% extends 'base.html.twig' %}

{% block body %}
<div class="my-5 py-5 text-center">
<h1>{{ 'warning.page_not_found'|trans }}</h1>
<p>{{ 'warning.not_found'|trans }}</p>
<div class="d-flex justify-content-center">
<div class="tenor-gif-embed" data-postid="14063065" data-share-method="host" data-aspect-ratio="1.80791" data-width="50%"><a href="https://tenor.com/view/antoine-daniel-bien-evidemment-what-the-cut-gif-14063065">Antoine Daniel Bien Evidemment GIF</a>from <a href="https://tenor.com/search/antoine+daniel-gifs">Antoine Daniel GIFs</a></div>
</div>
<a class="btn btn-lg btn-secondary mt-5" href="{{ path('app_main')}}">{{ 'button.back_home'|trans }}</a>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
{% endblock %}