{% extends 'base.html.twig' %}

{% block body %}
<div class="my-5 py-5 text-center">
    <h1>{{ 'warning.page_not_found'|trans }}</h1>

    <p>{{ 'warning.not_found'|trans }}</p>

<div class="d-flex justify-content-center">
    <a  class="btn btn-lg btn-secondary mt-5" href="{{ path('app_main') }}">{{ 'button.back_home'|trans }}</a>.
</div>
</div>
{% endblock %}